<h1>New Chapter</h1>
<%= render 'form' %>
<p>Need to add link back to book page, check with BV</p>
<p>How to automatically add the book_id instead of a field</p>
<%#link_to 'Back to Book', book_path(@chapter.book_id) %>